@import "../../styles/Animations.scss";

.input {
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;

  &:focus {
    outline: none;

    &::placeholder {
      color: #4da0ff;
    }
  }

  &--error {
    position: relative;
    border-color: red;
    border-radius: 5px;
    animation: shudder 0.25s ease-in-out;

    &::placeholder {
      color: red;
    }
  }
}
