@import "../../styles/Animations.scss";

.input {
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;

  &:focus {
    outline: none;

    &::placeholder {
      color: #007faa;
    }
  }

  &__area {
    max-width: 700px;
    font-family: inherit;
    max-height: 200px;
  }

  &--error {
    position: relative;
    border-color: red;
    animation: shudder 0.25s ease-in-out;

    &::placeholder {
      color: red;
    }
  }
}
