.to {
  &--animate {
    opacity: 0;
  }
}

.slide {
  &--out {
    position: relative;
    animation: slideOut 0.2s linear forwards;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  20% {
    left: 20%;
  }
  40% {
    left: 40%;
  }
  60% {
    left: 60%;
  }
  80% {
    left: 80%;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

.bring {
  &--in {
    position: relative;
    animation: bringIn 0.5s ease-in-out;
  }
}

@keyframes bringIn {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.fade {
  animation: fade 0.5s ease-in-out;

  &--out {
    animation-direction: reverse;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shudder {
  0% {
    left: 0;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 0;
  }
  75% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
