.flex {
  display: flex;

  &--centre {
    justify-content: center;
  }

  &--v-centre {
    align-items: center;
  }

  &--between {
    justify-content: space-between;
  }

  &--stack {
    flex-direction: column;
  }

  &--v-start {
    align-items: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }

  &--one {
    flex: 1;
  }
}
