.flex {
  display: flex;

  &--centre {
    justify-content: center;
  }

  &--v-centre {
    align-items: center;
  }

  &--stack {
    flex-direction: column;
  }

  &--end {
    justify-content: flex-end;
  }
}
