.text {
  &--bold {
    font-weight: bold;
  }

  &--capitalise {
    text-transform: capitalize;
  }

  &--xxxl {
    font-size: 48px;
  }

  &--xxl {
    font-size: 40px;
  }

  &--xl {
    font-size: 32px;
  }

  &--lg {
    font-size: 24px;
  }

  &--md {
    font-size: 16px;
  }

  &--s {
    font-size: 14px;
  }

  &--xs {
    font-size: 12px;
  }
}
