@import "../../styles/vars.scss";

.main {
  &__inner {
    display: flex;
    height: 100vh;
    margin-left: $navWidth + 1;
    margin-right: 8rem;
    padding-top: $headerHeight + 4;
    padding-left: 1rem;
  }
}
