.select {
  min-width: 110px;
  border: 0;
  font-size: inherit;
  background-color: #fff;
  -webkit-appearance: none;
  transition: background-color 0.2s linear;

  &:hover {
    color: #fff;
    background-color: #4da0ff;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  &__container {
    display: inline-block;

    &:hover {
      .select {
        color: #fff;
        background-color: #4da0ff;
        cursor: pointer;
        transition: background-color 0.2s linear;
      }

      &::after {
        background-image: url("../../assets/images/arrow-down-white.svg");
        transition: background-image 0.2s linear;
      }
    }

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      content: "";
      background-image: url("../../assets/images/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      transition: background-image 0.2s linear;
    }
  }
}
