.card {
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px 1px hsla(0, 0%, 58.8%, 0.1);
  transition: box-shadow 0.2s ease-in-out;

  &__header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  &__body {
    margin-bottom: 1rem;
  }

  &__image {
    width: 75px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 4px 4px hsla(0, 0%, 58.8%, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }

  &--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
